@font-face {
  font-family: "Poppins";
  src: url("/static/fonts/Poppins-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/static/fonts/Poppins-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/static/fonts/Poppins-Light.ttf");
  font-weight: lighter;
  font-style: normal;
}

@media only screen and (max-width: 700px) {
   .btn {
    display: block;
    color: coral;
    margin: 0.4em auto;
  }
}

input[type="range"]::-ms-track {
  width: 300px;
  height: 5px;

  background: transparent;

  /*leave room for the larger thumb to overflow with a transparent border */
  border-color: transparent;
  border-width: 6px 0;

  /*remove default tick marks*/
  color: transparent;
}

.checkbox {
  border: none;
  height: 20px;
  width: 20px;
}
input[type="range"]::-ms-fill-lower {
  background: #777;
  border-radius: 10px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
html,
body {
  font-family: "poppins";
  background-color: #f9f9f9;
}
input[type="date"]:not(.has-value):before {
  color: lightgray;
  content: attr(placeholder);
}
