@font-face{
  font-family:'Poppins';
  src:url('/static/fonts/Poppins-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family:'Poppins';
  src:url('/static/fonts/Poppins-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}
@font-face{
  font-family:'Poppins';
  src:url('/static/fonts/Poppins-Light.ttf');
  font-weight: lighter;
  font-style: normal;
}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}
html,body{
  font-family:'poppins';
  background-color: #F9F9F9;

}
input[type="date"]:not(.has-value):before{
  color: lightgray;
  content: attr(placeholder);
}

